recordings/

# Node
node_modules/
npm-debug.log*

eeg/*.jsonl
# Python
venv/
__pycache__/
*.pyc

# EEG data (VERY IMPORTANT for you)
eeg/*.jsonl

# Environment variables
.env
**/.env

eeg/emotion_predictions.jsonl
# OS
.DS_Store
Thumbs.db

music/